# Xcode directories and 3rd party dependencies
tripoli.xcodeproj/
.idea/
Build/
openfst-include/
openfst-lib/

# Apple crap
.DS_Store
.AppleDouble
.LSOverride

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


